################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Adventure.VC.VC.opendb
Adventure.VC.db
x64