################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Adventure.VC.VC.opendb
Adventure.VC.db
x64
\Adventure\x64
\Adventure\Release
\Adventure\Debug
Adventure.sdf
Adventure.vcxproj.user